<section id="about-project" class="about-project section section--pt" ref="aboutProject">
    <img 
        src="https://cms.abpx.kz/storage/uploads/2022/11/08/636a05c22151adetails-img-2.svg"
        class="about-project__paralax section__paralax"
        :style="{transform: paralaxEffect?.paralax?.about_project}"
    >

    <div class="container">
        <div class="about-project__images about-images">
            <div class="about-images__left">
                <img class="about-images__img" src="https://cms.abpx.kz{{ about_image_1.path }}">
            </div>
            <div class="about-images__right">
                <img class="about-images__img" src="https://cms.abpx.kz{{ about_image_2.path }}">
            </div>
        </div>

        <div class="about-details">
            <img 
                src="https://cms.abpx.kz/storage/uploads/2022/11/08/636a03f9d31d4details-img-1.svg" 
                alt="" class="about-details__paralax"
            >

            <div class="flex">
                <div class="flex__8 about-details__left">
                    <div class="flex">
                        {% for item in about_list_1 %}
                            <div class="flex__3 about-details__item detail-item">
                                <span class="detail-item__sub-title">
                                    {{ item.children[0].settings.text|raw }}
                                </span>
                                <span class="detail-item__title">
                                    {{ item.children[1].settings.text|raw }}
                                </span>
                                <span class="detail-item__sub-title">
                                    {{ item.children[2].settings.text|raw }}
                                </span>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="flex__4 about-details__right">
                    <div class="flex">
                        {% for item in about_list_2 %}
                            <div class="flex__6 about-details__item detail-item">
                                <span class="detail-item__sub-title">
                                    {{ item.children[0].settings.text|raw }}
                                </span>
                                <span class="detail-item__title">
                                    {{ item.children[1].settings.text|raw }}
                                </span>
                                <span class="detail-item__sub-title">
                                    {{ item.children[2].settings.text|raw }}
                                </span>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>

        <div class="about-project__images about-images">
            <div class="about-images__right">
                <img class="about-images__img" src="https://cms.abpx.kz{{ about_image_4.path }}">
            </div>
            <div class="about-images__left">
                <img class="about-images__img" src="https://cms.abpx.kz{{ about_image_3.path }}">
            </div>
        </div>
        <div class="flex about-project__flex-block">
            <div class="flex__5 about-project__left">
                <div class="section-title">
                    <h2 class="section-title__h2">
                        {{ about_title|raw }}
                    </h2>
                </div>
                <div class="about-project__desc">
                    {{ about_desc|raw }}
                </div>
                {% if about_presintation %}
                    <a href="https://cms.abpx.kz/{{ about_presintation }}" target="_blank" class="btn btn--black">
                        Скачать презентацию
                    </a>
                {% endif %}

                <span class="about-project__author-label author-label">
                    {{ about_label }}
                </span>

            </div>
            <div class="flex__7 about-project__right">
                <div class="about-project__images">
                    <img 
                        class="about-project__image-one wow animate__fadeInUp"
                        data-wow-duration="1.5s"
                        src="https://cms.abpx.kz{{ about_image.path }}" 
                        alt=""
                    >
                    <img 
                        class="about-project__image-two wow animate__fadeInUp"
                        data-wow-duration="1.7s"
                        src="https://cms.abpx.kz{{ about_image_second.path }}" 
                        alt=""
                    >
                </div>
            </div>
        </div>
    </div>
</section>