<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Алтын сити {{ site_title }}</title>
    <link rel="shortcut icon" href="https://cms.abpx.kz/{{ site_favicon.path }}" type="image/png">
    <link rel="stylesheet" href="{{ base_url }}assets/css/app.min.css">

    {{ site_scripts_in_head|raw }}
  
  </head>
  <body>
  
    {{ site_scripts_in_body|raw }}

    <div id="app">

      <fs-lightbox
        :toggler="isLightbox"
        :sources="sourcesLightbox"
      ></fs-lightbox>
  
      {{ include('widgets/air_menu.twig') }}
  
      {{ include('widgets/_header.twig') }}
  
      {{ include('widgets/slider.twig') }}

      {{ include('widgets/discounts.twig') }}

      {{ include('widgets/carousel.twig') }}
  
      {{ include('widgets/pay_methods.twig') }}

      {{ include('widgets/banners.twig') }}

      {{ include('widgets/commerce.twig') }}

      {{ include('widgets/about_project.twig') }}

      {{ include('widgets/benefits.twig') }}

      {{ include('widgets/main_callback.twig') }}

      {{ include('widgets/filter_appartaments.twig') }}

      {{ include('widgets/gallery.twig') }}

      {{ include('widgets/building_steps.twig') }}

      {{ include('widgets/callback.twig') }}


  
      
  
  
      {{ include('widgets/about_developer.twig') }}
  
      {{ include('widgets/contacts.twig') }}
  
      {{ include('widgets/modal.twig') }}
      
    </div>

    {{ include('widgets/footer.twig') }}

  </body>

  <script src="{{ base_url }}assets/js/app.js"></script>

  {{ site_scripts_in_footer|raw }}

</html>
